.map-bg {
    background: url("assets/map.png") no-repeat center;
    background-size: 90%;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.animated {
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

/*@keyframes  fadeOut{*/
/*    from {opacity: 0; transform: scale(0, 0)}*/
/*    to{opacity: 1; transform: scale(1, 1)}*/
/*}*/
/*.animation{*/
/*    animation: fadeOut 0.5s linear ;*/
/*}*/


.search {
    background: url("assets/search.png") no-repeat center;
    background-size: cover;
}