.item {
    margin-bottom: 10px;
}

.item .dot.dot_1 {
    border-color: rgb(24, 144, 255)
}

.item .dot.dot_2 {
    border-color: rgb(115, 201, 230)
}

.item .dot.dot_3 {
    border-color: rgb(19, 194, 194)
}

.item .dot.dot_4 {
    border-color: rgb(108, 217, 179)
}

.item .dot.dot_5 {
    border-color: rgb(47, 194, 91)
}

.item .dot.dot_6 {
    border-color: rgb(15, 217, 108)
}

.item .dot.dot_7 {
    border-color: rgb(250, 204, 20)
}

.item .dot.dot_8 {
    border-color: rgb(230, 150, 92)
}

.item .dot.dot_9 {
    border-color: rgb(240, 72, 100)
}

.item .dot.dot_10 {
    border-color: rgb(214, 107, 202)
}

.item .dot.dot_11 {
    border-color: rgb(133, 67, 224)
}

.item .dot {
    border: 4px solid black;
    margin-right: 3px;
    border-radius: 100%;
    display: inline-block;
}

.item .describe {
    border-right: 1px solid lightgray;
    padding-right: 5px;
    width: 64px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    display: inline-block;
}

.item .percent {
    width: 60px;
    font-size: 13px;
    color: gray;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
}

.item .price {
    font-size: 14px;
    color: grey;

}